image_path_v2/
resnet152_vild/
.idea
*.npy
__*__
*.pkl
*.pth
*pt
.vscode/
configs/
dataloader/
modeling/
ops/
preprocessing/
projects/
resnet50_vild/
utils/
*.tar.gz
frcnn.txt
lvis_v1_train.json
tensorflow/
train/
